// contenu section contact

form{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  
}
textarea{
    margin: 2rem;
    resize: none;
}
.marge input{
    margin: 1rem;
}
.formulaire{
    display: flex;
    border: .5px solid rgb(0, 204, 255);
    width: 50rem;
    margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
 
  
 
}